.git
.github
.mastra
.vercel
**/.env
**/.env.*
!**/.env.example
docs/provider_configuration.json
node_modules
**/node_modules
dist
**/dist
coverage
**/*.log
widget/src
widget/public
widget/dist
**/.DS_Store
